body {margin: 0}


div.header {
  float: left;
  width:75%;
  background-color:#88708b;
  height: 6em;
}

nav.header {
  width: 100%;
	background-color: #57B1E0;
	height: 6em;
	text-align: center;
  color: white;
  float:right;
}

nav.header a {
  width: 25%;
  float: left;
  height: 100%;
  text-align: center;
  line-height: 6em;

}

nav.header a.fa-bars {
  margin-top: 8px;
}

nav.header a, nav.header a:active {
  text-decoration: none;
  color: white
}

div.action {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 80%;
  background: blue;
  color: white;
  text-shadow: 1px 1px 1px black;
  height: 400px;
  padding: 5%;
}
div.action.show {
  top:3em;
  left:10%;
}

nav.creategraph {
  position: fixed;
  height: 40px;
  bottom: 0;
	background-color: #57B1E0;
  width: 100%;
  overflow: hidden;
}

nav.creategraph.show {
  height: 400px;
  overflow: scroll;
}

nav.creategraph div{
  text-align: center;
  float: left;
  width: 32%;
  cursor: pointer;
}

nav.creategraph .sticker{
  width: 100%;
  display: none;
}

nav.creategraph.show .sticker{
  display: block;
}

nav.creategraph img{
  width: 40%;
  margin: 5%;
  float:left;
}


