<<<<<<< Updated upstream
body {margin: 0;height: 1200px;}
=======
body {margin: 0;}


>>>>>>> Stashed changes

div.footerwall{
  float: left;
  width:100%;
  background-color:#88708b;
  height: 6em;
  position: absolute; bottom: 0;
}

.createwall{
position: fixed;
text-align: center;
width: 100%;
font-size: 27px;
text-shadow: 1px 1px 3px black;
font-weight: bold;
}

.createwall:hover{
background:none;
}

div.header {
  float: left;
  width:75%;
  background-color:#88708b;
  height: 6em;
}



.creationmur{
  margin: 0 auto;
  width:400px;
  height:400px;
  display:block;
}

h1{
 text-align:center;
 text-transform:uppercase;
margin-bottom:100px;
}

div.lunetxt{
 background:url("lune.jpg");

}

img.lune{
 width:250px;
 height:350px;
}

div.header img.logo{
  margin: 1em 0 0 1em;
}

nav.header {
  width: 100%;
	background-color: #57B1E0;
	text-align: center;
  color: white;
  line-height: 6em;
  height: 6em;
}

nav.header a {
  width: 25%;
  float: left;
  height: 100%;
  text-align: center;
  line-height: 3em;
}

nav.header a.fa-bars {
}

nav.header a:hover {
  background-color: inherit;
}

nav.header a.fa-bars, nav.header a.fa-bars:hover, nav.header a.fa-bars:active {
  background-color: #57B1E0;
  text-decoration: none;
  color: white
}

div.liencreermur{
  margin-top:600px;
}

div.action {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 80%;
  background: #57B1E0;
  color: white;
  text-shadow: 1px 1px 1px black;
  height: 400px;
  padding: 5%;
}
div.action.show {
  top:6em;
  left:10%;
}

nav.creategraph {
  position: fixed;
  bottom: 0;
	background-color: rgba(87, 177, 224, 0.7);
  width: 100%;
  overflow: hidden;
}

nav.creategraph div.form {
  height: 0;
  display: none;
}

nav.creategraph div.form.show {
  height: 400px;
  display: block;
  overflow-y: scroll;
  width: 100%;
}

a{
 text-decoration:none;


}

nav.creategraph div.bottom-menu{
  text-align: center;
  float: left;
  width: 32%;
  cursor: pointer;
  line-height: 3em;
  padding-top: 10px;
}

nav.creategraph img{
  width: 20%;
  margin: 5%;
  cursor: pointer;
}

#graphs .graph {
  position: absolute;
  opacity: 0.7;
}

#graphs {
  background: url('/walltexture/wallbriqueur.jpg') repeat center !important;
  width: 100%;
  height: 100%;
  top: 0;
  background-size: cointain;
    background-repeat: no-repeat;
}

