<div id="graphs">
  <% if @wall.graphs && @wall.graphs.size > 0 then @wall.graphs.each do |graph| %>
    <div class="graph" id="<%= graph.id %>" style="<%= graph.style %>">
    <% if graph.img %>
      <img src="<%= graph.img %>">
    <% end %>
    <% if graph.text %>
      <p><%= graph.text %></p>
    <% end %>
  </div>
  <% end
  end %>
</div>

<nav class="creategraph">
  <div class="bottom-menu" onclick="showForm('wall')"><img src="/picto_mur.png" ></div>
  <div class="bottom-menu" onclick="showForm('graph')"><img src="/picto_tag.png" ></div>
  <div class="bottom-menu" onclick="showForm('sticker')"><img src="/picto_sticker.png" ></div>
  <div class="form wall">
    <img onclick="insertSticker(this)" src="/sticker/Sticker_01.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_02.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_03.png" />
  </div>
  <div class="form graph">
    <img onclick="insertSticker(this)" src="/sticker/Sticker_04.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_08.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_09.png" />
  </div>
  <div class="form sticker">
    <img onclick="insertSticker(this)" src="/sticker/Sticker_01.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_02.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_03.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_04.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_05.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_06.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_07.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_08.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_09.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_10.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_11.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_12.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_13.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_14.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_15.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_16.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_17.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_18.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_19.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_20.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_21.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_22.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_23.png" />
    <img onclick="insertSticker(this)" src="/sticker/Sticker_24.png" />
  </div>
</nav>
<script>
    function syncUpdates () {
      updateStickers(function () {
        setTimeout(syncUpdates, 300);
      });
    }
    setTimeout(syncUpdates, 1000);
</script>
