<h1>Wall</h1>
<p>Voici le mur principal. Soyons créagraffistes !</p>
<% if @wall.nil? %>
 	<%= link_to "Create my first wall","/walls/new"%>
<% else %>
	<%= @wall.description %>
	<%= @wall.user.email unless @wall.user.nil?%>
<% end %>
